body {
  /*padding: 50px;*/
  padding-left: 90px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{

  margin-bottom: 50px !important;

}

a {
  /*color: #00B7FF;*/
  color:#FFFFFF;
}

/* ################################################ */
/* ######## Leaderboard Bar Graph ################# */
/* ################################################ */

g#yaxis text {
	fill: #FFFFFF;
    font-size: 30px;
}

/* ################################################ */

/* Should make each section take up a whole page */
.section{
	position: relative;
	height: 100%;
	width: 100%;
}

/*Dropdown menu background*/
.dropdown-menu {
	background-color: #777;
}

/*Dropdown menu text*/
.dropdown-menu > li > a {
	color: #ffffff;
}

/*Dropdown menu title*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	color: #ffffff;
	background-color: transparent;
}

.centers{
	margin:auto;
	width:100%;
	padding:50px;
}

.buildings {
	width:350px;
	height:300px;
	float: left;
	margin-left:20px;

}

.buildings img{

	height:250px;
	text-align:center;
	margin:auto;

}

.buildings h3{
	text-align:center;
	color: white;
}
@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Formatting for the links in the navbar */
@media (min-width: 768px){
	.navbar-nav {
		float:right;
	}
}
.navbar-inverse{
    background-color: #777;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	color:#FFFFFF;
	background-color: #777;
}

/* The text color of navbar links */
.navbar-inverse .navbar-nav{
	color:#FFFFFF;
}

.navbar-inverse .navbar-nav > li > a{
	color:#FFFFFF;
}

/*a:active{
	font-weight: bold;
}*/

.splash{
	position:relative;
	height:100%;
	width:100%;
} 

/*Power grid related*/
#grid{
	position: absolute;
	top: 638px;
	left:59px;
}

#grid2{
	position: absolute;
	top: 638px;
	left: 207px;
}

#grid_1605_1{
	position: absolute;
	top: 662px;
	left: 38px;
}

#grid_1605_2{
	position: absolute;
	top:144px;
	left:38px;
}

#grid_1605_3{
	position: absolute;
	top:144px;
	left:38px;
}

/*Estimated x value*/
#grid_1605_4{
	position: absolute;
	top:144px;
	left:674px;
}

#grid_1715_1{
	position: absolute;
	top: 662px;
	left: 147px;
}

/*Estimated x, y value deduced from element 1*/
#grid_1715_2{
	position: absolute;
	top: 400px;
	left: 156px;
}

/*Deduced x value*/
#grid_1590_1{
	position: absolute;
	top: 662px;
	left: 295px;
}

#grid_1590_2{
	position: absolute;
	top: 442px;
	left: 1226px;
}

#grid_1590_3{
	position: absolute;
	top: 442px;
	left: 1172px;
}

#grid_215_1{
	position: absolute;
	top: 662px;
	left: 186px;
}

#grid_215_2{
	position: absolute;
	top: 482px;
	left: 186px;
}

#grid_215_3{
	position: absolute;
	top: 482px;
	left: 186px;
}

/*Road & Pavement*/

#dashed_hor{
	position: absolute;
	top: 433px;
	left: 201px;
}

/* TOTALLY GUESSED X DIST */
#dashed_vert{
	position: absolute;
	top: 461px;
	left: 580px;
}

#pavement_1{
	position: absolute;
	top: 335px;
	left: 132px;
}

#pavement_2{
	position: absolute;
	top: 461px;
	left: 223px;
}

#pavement_quad{
	position: absolute;
	top: 461px;
	left: 642px;
}

/* Buildings: Note that all y values aside from solar panels are estimated*/

#layer2_building_215{
	position: absolute;
	top: 406px;
	left: 239px;
}

#layer2_building_1590{
	position: absolute;
	top: 409px;
	left: 953px;

}

#layer2_building_1605{
	position: absolute;
	top: 283px;
	left: 591px;
}

#layer2_building_1715{
	position: absolute;
	top: 283px;
	left: 147px;
}

#layer3_building_215{
	position: absolute;
	top:357px;
	left:239px;
}

#layer3_building_1590{
	position: absolute;
	top: 358px;
	left: 953px;

}

#layer3_building_1605{
	position: absolute;
	top: 234px;
	left: 591px;
}

#layer3_building_1715{
	position: absolute;
	top: 234px;
	left: 147px;
}

#layer4_building_215_v2{
	position: absolute;
	height: 125px;
	top:342px;
	left:239px;
}

#layer4_building_1590{
	position: absolute;
	top: 342px;
	left: 953px;

}

#layer4_building_1605{
	position: absolute;
	top: 218px;
	left: 591px;
}

#layer4_building_1715{

	position: absolute;
	top: 218px;
	left: 147px;
}

/*Cloud & Sun, y values estimated from pdf*/
#cloud{
	position:absolute;
	top: 93px;
	left: 980px;
}

#cloud_dark{
	position:absolute;
	top: 93px;
	left: 980px;

}

#sun{
	position:absolute;
	top: 58px;
	left: 1060px;
}

/*Trees and fountain*/

#tree1{
	position: absolute;
	top: 460px;
	left: 914px;
}

#tree2{
	position: absolute;
	top: 476px;
	left: 926px;
}

#tree3{
	position: absolute;
	top: 492px;
	left: 940px;
}

#tree4{
	position: absolute;
	top: 508px;
	left: 954px;
}

#tree5{
	position: absolute;
	top: 524px;
	left: 968px;
}

#fountain1{
	position: absolute;
	top: 482px;
	left: 858px;
}

#fountain2{
	position: absolute;
	top: 481px;
	left: 863px;
}

#fountain3{
	position: absolute;
	top: 480px;
	left: 869px;
	width: 20px;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
