body {
  /*padding: 50px;*/
  padding-left: 90px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{

  margin-bottom: 50px !important;

}

a {
  /*color: #00B7FF;*/
  color:white;
}

/* ################################################ */
/* ######## Bootstrap Column Redefinition ######### */
/* ################################################ */

/*fluid-container > .col-xs-30,
fluid-container > .col-sm-30,
fluid-container > .col-md-30,
fluid-container > .col-lg-30 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
fluid-container > .col-xs-30 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
fluid-container > .col-sm-30 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    fluid-container > .col-md-30 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    fluid-container > .col-lg-30 {
        width: 20%;
        float: left;
    }
}*/


/* ################################################ */
/* ######## Graph Container Class ################# */
/* ##### (attributes inherited by all graphs) ##### */
/* ################################################ */

/*Header formatting*/
.vertical-center {
  /*All text color is white*/
  color: white;
  /*All axis lines and bar fill colors are white unless
  otherwise specified in the javascript code*/
  fill: white;	
}

/*Overall Graph Formatting*/
.jumboron > .container > .row{
	min-height: 100%;	/*Fallback for browsers do NOT support vh unit */
	min-height: 100vh;	/* These two lines are counted as one*/
	display: flex;
	align-items: center;
}

/* ################################################ */
/* ################ On/off switch ################# */
/* ################################################ */

.onoffswitch {
  position: relative;
  width: 122px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid #ccc; */
  border-radius: 44px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 44px;
  padding: 0;
  line-height: 44px;
  font-size: 16px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 44px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px inset;
}

.onoffswitch-inner:before {
  /* Text like "on" would go in content */
  content: "";
  padding-left: 27px;
  /*  "ON" color  */
  background-color: #FFCC33;
  color: #FFFFFF;
  border-radius: 44px 0 0 44px;
}

.onoffswitch-inner:after {
  /* Text like "off" would go in content */
  content: "";
  padding-right: 27px;
  background-color: grey;
  color: #999999;
  text-align: right;
  border-radius: 0 44px 44px 0;
}

.onoffswitch-switch {
  width: 44px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 44px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 76px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -webkit-linear-gradient(top, #ddd 0%, white 100%);
  box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 1px 1px, rgba(255, 255, 255, 0.5) 0 1px 0 1px inset;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* ################################################ */
/* ######## Leaderboard Bar Graph ################# */
/* ################################################ */

g#yaxis text {
	fill: white;
    font-size: 30px;
}

/* ################################################ */
/* ######## Percent ZNE Bar Graph ################# */
/* ################################################ */




/* ################################################ */
/* ######## Energy Demand Line Graph ############## */
/* ################################################ */



/* ################################################ */
/* ################# About Page ################### */
/* ################################################ */

/*Defines a row to be half the height of the screen*/
#vertical-half-screen{
	min-height: 46%;	/*Fallback for browsers do NOT support vh unit */
	min-height: 46vh;	/* These two lines are counted as one*/
	display: flex;
	align-items: center;
}

#center-paragraph{
	color: white;
	font-size: 30px;
	position: relative;
	/*all this stuff is just to center the text*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	text-align: left;
	/*end of centering stuff*/
	padding-right: 30px;
	padding-left: 30px;
}

/*West Village feedback logo image formatting*/
/*#about-logo-WVfeedback{
	background: url("/images/WVED_logo_bolt.svg") no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0.5;
}*/

.about-logo-WVfeedback-bg p{
	color: white;
	font-size: 24px;
	position: relative;
	/*all this stuff is just to center the text*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	text-align: left;
	/*end of centering stuff*/
	padding-right: 30px;
	padding-left: 30px;
}

.about-logo-WVfeedback-bg object{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
}

#link{
	color: lightblue;
}

.about-logo-ZNE-bg p{
	color: white;
	font-size: 20px;
	position: relative;
	/*all this stuff is just to center the text*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	text-align: left;
	/*end of centering stuff*/
	padding-right: 30px;
	padding-left: 30px;
}

.about-logo-ZNE-bg object{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
}

.about-logo-WV-bg p{
	color: white;
	font-size: 24px;
	position: relative;
	/*all this stuff is just to center the text*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	text-align: left;
	/*end of centering stuff*/
}

.about-logo-WV-bg object{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
}

.about-logo-location-bg p{
	color: white;
	font-size: 18px;
	position: relative;
	/*all this stuff is just to center the text*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	text-align: left;
	/*end of centering stuff*/
}

.about-logo-location-bg object{
	position: absolute;
    left: 25%;
    top: 0;
    width: auto;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
}

.about-logo-cEnergi-bg p{
	color: white;
	font-size: 18px;
	position: relative;
	/*all this stuff is just to center the text*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
	text-align: left;
	/*end of centering stuff*/
}

.about-logo-cEnergi-bg object{
	position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.3;
}


/* ################################################ */
/* ################# Contact Page ################# */
/* ################################################ */

/* ################################################ */

/* Should make each section take up a whole page */
.section{
	position: relative;
	height: 100%;
	width: 100%;
}

.centers{
	margin:auto;
	width:100%;
	padding:50px;
}

.buildings {
	width:350px;
	height:300px;
	float: left;
	margin-left:20px;

}

.buildings img{

	height:250px;
	text-align:center;
	margin:auto;

}

.buildings h3{
	text-align:center;
	color: white;
}
@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* ################################################ */
/* ################## Navbar ###################### */
/* ################################################ */

/*Dropdown menu background*/
.dropdown-menu {
	background-color: #777;
}

/*Dropdown menu text*/
.dropdown-menu > li > a {
	color: white;
}

/*Dropdown menu title*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	color: white;
	background-color: transparent;
}

/* Formatting for the links in the navbar */
@media (min-width: 768px){
	.navbar-nav {
		float:right;
	}
}
.navbar-inverse{
    background-color: #777;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	color:white;
	background-color: #777;
}

/* The text color of navbar links */
.navbar-inverse .navbar-nav{
	color:white;
}

.navbar-inverse .navbar-nav > li > a{
	color:white;
}

/* ################################################ */
/* ################## Footer ###################### */
/* ################################################ */

.footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #FFCC33; /*Yellow*/
}

/* text within the footer*/
.footer > .container > p{
	color: white;
	font-size: 30px;
	position: absolute;
	/*all this stuff is just to center the text*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*end of centering stuff*/
}

/* ################################################ */
/* ################ Splash Page ################### */
/* ################################################ */

.splash{
	position:relative;
	height:100%;
	width:100%;
} 

/*Power grid related*/
#grid{
	position: absolute;
	top: 638px;
	left:59px;
}

#grid2{
	position: absolute;
	top: 638px;
	left: 207px;
}

#grid_1605_1{
	position: absolute;
	top: 662px;
	left: 38px;
}

#grid_1605_2{
	position: absolute;
	top:144px;
	left:38px;
}

#grid_1605_3{
	position: absolute;
	top:144px;
	left:38px;
}

/*Estimated x value*/
#grid_1605_4{
	position: absolute;
	top:144px;
	left:674px;
}

#grid_1715_1{
	position: absolute;
	top: 662px;
	left: 147px;
}

/*Estimated x, y value deduced from element 1*/
#grid_1715_2{
	position: absolute;
	top: 400px;
	left: 156px;
}

/*Deduced x value*/
#grid_1590_1{
	position: absolute;
	top: 662px;
	left: 295px;
}

#grid_1590_2{
	position: absolute;
	top: 442px;
	left: 1226px;
}

#grid_1590_3{
	position: absolute;
	top: 442px;
	left: 1172px;
}

#grid_215_1{
	position: absolute;
	top: 662px;
	left: 186px;
}

#grid_215_2{
	position: absolute;
	top: 482px;
	left: 186px;
}

#grid_215_3{
	position: absolute;
	top: 482px;
	left: 186px;
}

/*Road & Pavement*/

#dashed_hor{
	position: absolute;
	top: 433px;
	left: 201px;
}

/* TOTALLY GUESSED X DIST */
#dashed_vert{
	position: absolute;
	top: 461px;
	left: 580px;
}

#pavement_1{
	position: absolute;
	top: 335px;
	left: 132px;
}

#pavement_2{
	position: absolute;
	top: 461px;
	left: 223px;
}

#pavement_quad{
	position: absolute;
	top: 461px;
	left: 642px;
}

/* Buildings: Note that all y values aside from solar panels are estimated*/

#layer2_building_215{
	position: absolute;
	top: 406px;
	left: 239px;
}

#layer2_building_1590{
	position: absolute;
	top: 409px;
	left: 953px;

}

#layer2_building_1605{
	position: absolute;
	top: 283px;
	left: 591px;
}

#layer2_building_1715{
	position: absolute;
	top: 283px;
	left: 147px;
}

#layer3_building_215{
	position: absolute;
	top:357px;
	left:239px;
}

#layer3_building_1590{
	position: absolute;
	top: 358px;
	left: 953px;

}

#layer3_building_1605{
	position: absolute;
	top: 234px;
	left: 591px;
}

#layer3_building_1715{
	position: absolute;
	top: 234px;
	left: 147px;
}

#layer4_building_215_v2{
	position: absolute;
	height: 125px;
	top:342px;
	left:239px;
}

#layer4_building_1590{
	position: absolute;
	top: 342px;
	left: 953px;

}

#layer4_building_1605{
	position: absolute;
	top: 218px;
	left: 591px;
}

#layer4_building_1715{

	position: absolute;
	top: 218px;
	left: 147px;
}

/*Cloud & Sun, y values estimated from pdf*/
#cloud{
	position:absolute;
	top: 93px;
	left: 980px;
}

#cloud_dark{
	position:absolute;
	top: 93px;
	left: 980px;

}

#sun{
	position:absolute;
	top: 58px;
	left: 1060px;
}

/*Trees and fountain*/

#tree1{
	position: absolute;
	top: 460px;
	left: 914px;
}

#tree2{
	position: absolute;
	top: 476px;
	left: 926px;
}

#tree3{
	position: absolute;
	top: 492px;
	left: 940px;
}

#tree4{
	position: absolute;
	top: 508px;
	left: 954px;
}

#tree5{
	position: absolute;
	top: 524px;
	left: 968px;
}

#fountain1{
	position: absolute;
	top: 482px;
	left: 858px;
}

#fountain2{
	position: absolute;
	top: 481px;
	left: 863px;
}

#fountain3{
	position: absolute;
	top: 480px;
	left: 869px;
	width: 20px;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}