<div class="container">
    <div class="row" id="vertical-half-screen">
    	<div class="col-md-6">
    		<div class="about-logo-WVfeedback-bg">
	    		<p>
	    			West Village Energy Dashboard educates building occupants and visitors about energy flows in the largest planned mixed-use zero net energy (ZNE) development in the US, and the first in California. Read more about West Village <a href="http://www.carmelapartments.com/uc-davis-west-village-davis-ca/energy-positive" id="link">here</a>.
	    		</p>
	    		<object type="image/svg+xml" data="/images/WVED_logo_bolt.svg"></object>
	    	</div>
    	</div>
    	<div class="col-md-6">
    		<div class="about-logo-ZNE-bg">
	    		<p>
	    			ZNE is calculated on an annual basis. The goal is to produce as much energy on-site, through renewable sources, as is consumed. West Village Energy Dashboard uses a ZNE goal for each of the four research center clusters that has been calculated based on a reconciliation of modeled and actual electricity consumption and solar (PV) power production.
	    		</p>
	    		<object type="image/png" data="/images/zne_text.png"></object>
	    	</div>
    	</div>
    </div>
    <div class="row" id="vertical-half-screen">
    	<div class="col-md-4">
    		<div class="about-logo-WV-bg">
	    		<p>
	    			West Village has yet to actually achieve ZNE. Behavioral programs to reduce electricity consumption among residents in student housing have met with some success, but no attention has been given to occupant behavior in the commercial spaces... until now!
	    		</p>
	    		<object type="image/png" data="/images/wv_logo.png"></object>
	    	</div>
    	</div>
    	<div class="col-md-4">
    		<div class="about-logo-location-bg">
	    		<p>
	    			West Village commercial spaces are largely composed of over a dozen energy and transportation research centers.<br><br>
	    			215 Sage St.<br>
					Center for Water-Energy Efficiency<br>
					Western Cooling Efficiency Center<br><br>
					1590 Tilia St.<br>
					Consumer Energy Interfaces Plug-in Hybrid & Electric Vehicle Center<br>
					Center for Design in the Public Interest<br>
	    		</p>
	    		<object type="image/png" data="/images/location_icon.png"></object>
	    	</div>
    	</div>
    	<div class="col-md-4">
    		<div class="about-logo-cEnergi-bg">
	    		<p>
	    			West Village Energy Dashboard was created by Consumer Energy Interfaces (cEnergi), an interdisciplinary research lab investigating the potential for eco-feedback to promote resilient and sustainable relationships between individuals, communities, and natural resources. Eco-feedback is information about individual or group behavior related to resource (water, energy, food) processes (generation, storage, waste) provided back to that individual or group.
	    		</p>
	    		<object type="image/png" data="/images/cEnergi_logo.png"></object>
	    	</div>
    	</div>
    </div>
</div>