<div class="container">

  <div class="row">
    <div class="col-md-12">
      <!-- STILL USES DUMMY DATA!!!!!!!!!!!!! -->
      <race-track-graph data="vm.leaderboardData"></race-track-graph>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- STILL USES DUMMY DATA!!!!!!!!!!!!! -->
      <percent-zne-goal data="vm.percentGoalData"></percent-zne-goal>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- STILL USES DUMMY DATA!!!!!!!!!!!!! -->
      <energy-demand-graph data="vm.energyDemandData"></energy-demand-graph>
    </div>
  </div>
</div>
