<div class="container splash" ng-controller="Index as c"> 


		<!-- Power towers -->
			<object id="grid" type="image/svg+xml" data="/images/grid.svg">
			</object>

			<object id="grid2" type="image/svg+xml" data="/images/grid.svg">
			</object>

		<!-- Power Grid 1605 Top Right -->
			<object id="grid_1605_1" type="image/svg+xml" data="/images/grid_1605_1.svg">
			</object>

			<object id="grid_1605_2" type="image/svg+xml" data="/images/grid_1605_2.svg">
			</object>

			<object id="grid_1605_3" type="image/svg+xml" data="/images/grid_1605_3.svg">
			</object>

			<object id="grid_1605_4" type="image/svg+xml" data="/images/grid_1605_4.svg">
			</object>

		<!-- Power Grid 1715 Top Left-->
			<object id="grid_1715_1" type="image/svg+xml" data="/images/grid_1715_1.svg">
			</object>

			<object id="grid_1715_2" type="image/svg+xml" data="/images/grid_1715_2.svg">
			</object>

		<!-- Power Grid 1590 Bottom Right-->
			<object id="grid_1590_1" type="image/svg+xml" data="/images/grid_1590_1.svg">
			</object>

			<object id="grid_1590_2" type="image/svg+xml" data="/images/grid_1590_2.svg">
			</object>

			<object id="grid_1590_3" type="image/svg+xml" data="/images/grid_1590_3.svg">
			</object>

		<!-- Power Grid 215 Bottom Left-->
			<object id="grid_215_1" type="image/svg+xml" data="/images/grid_215_1.svg">
			</object>

			<object id="grid_215_2" type="image/svg+xml" data="/images/grid_215_2.svg">
			</object>

			<object id="grid_215_3" type="image/svg+xml" data="/images/grid_215_3.svg">
			</object>

		<!-- Road & pavement -->
			<object id="dashed_hor" type="image/svg+xml" data="/images/dashed_hor.svg">
			</object>

			<object id="dashed_vert" type="image/svg+xml" data="/images/dashed_vert.svg">
			</object>

			<object id="pavement_1" type="image/svg+xml" data="/images/pavement_1.svg">
			</object>

			<object id="pavement_2" type="image/svg+xml" data="/images/pavement_2.svg">
			</object>

			<object id="pavement_quad" type="image/svg+xml" data="/images/pavement_quad.svg">
			</object>

		<!-- Buildings Layer 2 -->
			<object id="layer2_building_215" type="image/svg+xml" data="/images/layer2_building_215.svg">
			</object>

			<object id="layer2_building_1590" type="image/svg+xml" data="/images/layer2_building_1590.svg">
			</object>

			<object id="layer2_building_1605" type="image/svg+xml" data="/images/layer2_building_1605.svg">
			</object>

			<object id="layer2_building_1715" type="image/svg+xml" data="/images/layer2_building_1715.svg">
			</object>

		<!-- Buildings Layer 3 -->
			<object id="layer3_building_215" type="image/svg+xml" data="/images/layer3_building_215.svg">
			</object>

			<object id="layer3_building_1590" type="image/svg+xml" data="/images/layer3_building_1590.svg">
			</object>

			<object id="layer3_building_1605" type="image/svg+xml" data="/images/layer3_building_1605.svg">
			</object>

			<object id="layer3_building_1715" type="image/svg+xml" data="/images/layer3_building_1715.svg">
			</object>

		<!-- Buildings Layer 4 -->
			<object id="layer4_building_215_v2" type="image/svg+xml" data="/images/layer4_building_215_v2.svg">
			</object>

			<object id="layer4_building_1590" type="image/svg+xml" data="/images/layer4_building_1590.svg">
			</object>

			<object id="layer4_building_1605" type="image/svg+xml" data="/images/layer4_building_1605.svg">
			</object>

			<object id="layer4_building_1715" type="image/svg+xml" data="/images/layer4_building_1715.svg">
			</object>

		<!-- Sun & Cloud -->
			<object id="sun" type="image/svg+xml" data="/images/sun.svg">
			</object>

			<object id="cloud" type="image/svg+xml" data="/images/cloud.svg">
			</object>

			<object id="cloud_dark" type="image/svg+xml" data="/images/cloud_dark.svg">
			</object>

		<!-- Trees and fountain -->
			<object id="tree1" type="image/svg+xml" data="/images/layer1(4)_tree.svg">
			</object>

			<object id="tree2" type="image/svg+xml" data="/images/layer1(4)_tree.svg">
			</object>

			<object id="tree3" type="image/svg+xml" data="/images/layer1(4)_tree.svg">
			</object>

			<object id="tree4" type="image/svg+xml" data="/images/layer1(4)_tree.svg">
			</object>

			<object id="tree5" type="image/svg+xml" data="/images/layer1(4)_tree.svg">
			</object>

			<object id="fountain1" type="image/svg+xml" data="/images/layer1(1)_fountain.svg">
			</object>

			<object id="fountain2" type="image/svg+xml" data="/images/layer1(2)_fountain.svg">
			</object>

			<object id="fountain3" type="image/svg+xml" data="/images/layer1(3)_founatain_v2.svg">
			</object>
		


</div> 
