<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/images/WVED_logo_white.svg" height="50">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#!/">Home</a></li>
      <li><a href="#!/leaderboard">Leaderboard</a></li>
      <li><a href="#!/energy-demand">Energy Demand</a></li>
      <li><a href="#!/energy-by-use">Energy Demand by End Use</a></li>
    </ul>
  </div>
</nav>
