<!-- ########################################## -->
<!-- ################# -->
<!-- This code is not being used! It is being kept for the moment for reference -->
<!-- ################# -->
<!-- ########################################## -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="collapse navbar-toggleable-xs" id="Navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/images/WVED_logo_white.svg" height="50">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#!/">
          HOME <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class="nav-item btn-group">
        <a class="dropdown-toggle nav-link" type="button" id="building_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        BUILDING DASHBOARD
        </a>
        <div class="dropdown-menu" aria-labelledby="building_drop">
          <a class="dropdown-item" href="#">215 SAGE</a>
          <a class="dropdown-item" href="#">1590 TILIA</a>
          <a class="dropdown-item" href="/building/1605">1605 TILIA</a>
          <a class="dropdown-item" href="#">1715 TILIA</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
