@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
	padding-top:55px;
	overflow-x: hidden;
}

nav{

	position:	fixed;
	z-index:	100;
	top:	0; left:	0;
	height:	100%; width:	250px;

	background-color: #FFCC33;
	transform: translate3d(-250px, 0, 0);

	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	-o-transition: transform 0.4s ease;
}

.active-nav nav{
	transform: translate3d(0, 0, 0);
}

nav ul{
	font-family: 'LatoWeb';
	font-size: 30pt;
	letter-spacing: 2px;

	list-style:	none;
	margin-top: 100px;
	padding-left: 0px;
}

nav ul li a{
	margin-left:25px;

	text-decoration: none;
	display: block;
	text-align: left;
	color:#FFF;
	padding:50px 0;
}

nav ul li a:link{
	color:	white;
	text-decoration: none;
}

nav ul li a:visited{
	color: white;

	font-weight: bold;
	text-decoration: none;
}

nav ul li a:hover{
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:active{
	font-weight: bold;
	color: white;
}

.nav-toggle-btn{
	padding-top: 10px;
	text-align:center;

	display:block;
	background-color: transparent;
	color: #FFCC33;

	position: absolute;
	left:	250px;
	width: 55px;	height: 55px;
}

.nav-toggle-btn:hover{
	background-color: transparent;
	color: #FFCC33
}


.nav-toggle-btn:visited{
	background-color:	transparent;
	color:#FFCC33;
}

.shade{
	margin-top:-55px;
	background-color: #585858;
	position:absolute;

	height:100%; width:100%; z-index:99;

	-webkit-filter:opacity(0%);
	-moz-filter:opacity(0%);
	-o-filter:opacity(0%);
	filter: opacity(0%);
}

body.active-nav .shade{
	-webkit-filter: opacity(75%);
	-moz-filter: opacity(75%);
	-o-filter: opacity(75%);
	filter: opacity(75%);
}

.jumbotron{
	text-align: center;
	height: 600px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.ass{
	width:100%;

}
.buttonwrap{
	display:block;
	width: 6.5%;
	margin:0 auto;
	text-align: center;
}

.button{

	display: block;
	height: 22px;
	width: 75px;
	background: #FFCC33;
	border: 2px solid #FFCC33;

	text-align: center;
	font: 12pt 'LatoWeb';
	color: white;
}

.button:hover{
	background: white;
	color:#FFCC33;
}

a.button:hover	{
	text-decoration: none;
}

.bar{
    fill: #BF150A;     
}

.bar2 {
	fill: #33CC99;

}

.bartext{
	color: #FFF;
}

.axis text {

    font: 10px 'LatoWeb';

}

.axis path, .axis line {
    fill: none;
    stroke: #FFCC33;
    stroke-width: 4px;
    shape-rendering: crispEdges;
}

