<!DOCTYPE html>
<html ng-app>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/javascripts/bootstrap/dist/css/bootstrap.css' /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="flud-container">
    		{{{body}}}
	</div>
  </body>

	<!-- JS  Libraries -->   
  <script type='text/javascript' src='/javascripts/jquery/dist/jquery.min.js'></script>   
  <script type='text/javascript' src='/javascripts/bootstrap/dist/js/bootstrap.min.js'></script> 
  <script type='text/javascript' src='/javascripts/angular/angular.min.js'></script>

	<!-- Angular Modules  --> 
  <script type='text/javascript' src='/app.js'></script>  
  <script type='text/javascript' src='/modules/cores/core.client.module.js'></script>  

	<!-- Angular Controllers--> 

</html>
